# Vinícius Ferraz
## Learning Python

### I can concatenate strings without the + operator

In [103]:
print('Vinícius' ' ' 'Ferraz')

Vinícius Ferraz

### Docstring

In [104]:
""" this is a docstring
I can also use:
    ''' docstring '''
"""

" this is a docstring\nI can also use:\n    ''' docstring '''\n"

### Input()

In [105]:
print("what's your name")
myname = input()
print('{} is a beautiful name!'.format(myname))

what's your name
Vinícius
Vinícius is a beautiful name!

### For with steps

In [106]:
for i in range(0, 10, 3):
    print(i)

0
3
6
9

### For else

In [107]:
for i in [1,2,3,4,6,7]:
    if i == 4:
        print("4 reached")
    if i == 6:
        print("6 reached")
else:
    print("5 not reached - full loop has been executed")

4 reached
6 reached
5 not reached - full loop has been executed

### Functions

In [108]:
def hello(name):
    print("hello mister {}".format(name))

hello('Vinícius')
hello('Ferraz')

hello mister Vinícius
hello mister Ferraz

### Random

In [109]:
import random
def getanswer(answernumber):
    if answernumber == 1:
        return 'Nice!'
    if answernumber == 2:
        return 'Good!'
    if answernumber == 3:
        return 'Great!'
    if answernumber == 4:
        return 'Awesome!'
    if answernumber == 5:
        return 'Ok!'
    if answernumber == 6:
        return 'Wooow!'
    if answernumber == 7:
        return "You're the best!"
r = random.randint(1,9)
fortune = getanswer(r)
print(fortune)

Awesome!

### None

In [110]:
spam = print("Hello")
print(spam is None)

Hello
True

### sep

In [111]:
print('cats', 'dogs', 'mice')
print('cats', 'dogs', 'mice', sep="-")

cats dogs mice
cats-dogs-mice

### Global variable

In [112]:
def spam():
    global eggs  #if you need to modify an global variable within function, use "global"
    eggs = "spam"

eggs = "NOTSPAM"
spam()
print(eggs)

spam

### Try

In [113]:
def spam2(divideby):
    try:
        return 55/divideby
    except ZeroDivisionError as e:
        print('Error: Invalid Argument: {}'.format(e))

print(spam2(2))
print(spam2(5))
print(spam2(0))

27.5
11.0
Error: Invalid Argument: division by zero
None

### Finally

In [114]:
def spam3(divideby):
    try:
        return 90/divideby
    except ZeroDivisionError as e:
        print('Error: Invalid Argument: {}'.format(e))
    finally:
        print("-- End of division --")

print(spam3(2))
print(spam3(5))
print(spam3(0))

-- End of division --
45.0
-- End of division --
18.0
Error: Invalid Argument: division by zero
-- End of division --
None

### Trick

In [132]:
# I can easily swap values of two variables
a = 20
b = 99
a, b = b, a
print('a = {}'.format(a))

a = 99

### pretty printing

In [135]:
import pprint

message = 'It was a bright cold day' # in April, and the clocks were striking thirteen.'
count = {}

for character in message:
    count.setdefault(character,0)
    count[character] = count[character]+1
    
pprint.pprint(count)

{' ': 5,
 'I': 1,
 'a': 3,
 'b': 1,
 'c': 1,
 'd': 2,
 'g': 1,
 'h': 1,
 'i': 1,
 'l': 1,
 'o': 1,
 'r': 1,
 's': 1,
 't': 2,
 'w': 1,
 'y': 1}

#### ---------------------------------------------------------------------------------------------------------

## Lists

### List

In [115]:
animals = ['cat', 'dog', 'bird', 'crocodile']
print(animals)
print(animals[2])
print(animals[-1])
print(animals[-3])

['cat', 'dog', 'bird', 'crocodile']
bird
crocodile
dog

In [116]:
cat = ['timy','black','crazy']
name, color, feature = cat
print("cat name is {}. It's color is {} and it is a {} cat ".format(name,color,feature))

cat name is timy. It's color is black and it is a crazy cat

### Sublists

In [117]:
print(animals[0:3]) # 0 included, 3 not included
print(animals[0:-1]) # 
print(animals[:2])  # ultil 2.. 2 not included
print(animals[2:])  # after 2.. 2 included
animals2 = animals[:]
print(animals2)

['cat', 'dog', 'bird']
['cat', 'dog', 'bird']
['cat', 'dog']
['bird', 'crocodile']
['cat', 'dog', 'bird', 'crocodile']

### List concatenation

In [118]:
animals2 = ['fish', 'shark', 'whale']
animals3 = animals + animals2
print(animals3)
#append
animals3.append('ant')
print(animals3)
#del - remove value
del animals3[2]
print(animals3)

['cat', 'dog', 'bird', 'crocodile', 'fish', 'shark', 'whale']
['cat', 'dog', 'bird', 'crocodile', 'fish', 'shark', 'whale', 'ant']
['cat', 'dog', 'crocodile', 'fish', 'shark', 'whale', 'ant']

### Loops in lists + enumerate()

In [119]:
for i, animal in enumerate(animals3):
    print('index {} in animals is {}'.format(str(i),animal))

index 0 in animals is cat
index 1 in animals is dog
index 2 in animals is crocodile
index 3 in animals is fish
index 4 in animals is shark
index 5 in animals is whale
index 6 in animals is ant

### Loops in multiple lists with zip()

In [120]:
name = ['Peter','Brian','Tony']
age  = [16,23,38]

for n, a in zip(name,age):
    print('{} is {} years old'.format(n,a))
    
# in and not in
print('Bruce' in name)
if ('Bruce' not in name):
    name.append('Bruce')
print(name)

Peter is 16 years old
Brian is 23 years old
Tony is 38 years old
False
['Peter', 'Brian', 'Tony', 'Bruce']

### Finding a value in a list with index()

In [122]:
print(animals.index('crocodile'))

3

### Insert and remove an value with insert() and remove()

In [123]:
animals.insert(3,'bat')
print(animals)
animals.remove('bat')
print(animals)

['cat', 'dog', 'bird', 'bat', 'crocodile']
['cat', 'dog', 'bird', 'crocodile']

### Sorting values in a list with sort()

In [125]:
numbers = [3,4,1,2,19,12,23,0,-4,-23,40,17]
numbers.sort(reverse=True) # sorting in reverse order
animals.append('Bear')
animals.append('bear')
animals.sort(key=str.lower) # regular alphabetical order
print(numbers)
print(animals)

[40, 23, 19, 17, 12, 4, 3, 2, 1, 0, -4, -23]
['Bear', 'bear', 'Bear', 'bear', 'bird', 'cat', 'crocodile', 'dog']

### Tuples and lists - tuple() and list()

In [130]:
family = ('Dad','Mom','Son','Dog')
print(list(('Dad','Mom','Son','Dog')))
print(tuple(family))

['Dad', 'Mom', 'Son', 'Dog']
('Dad', 'Mom', 'Son', 'Dog')

#### ---------------------------------------------------------------------------------------------------------

## Dictionaries

### Dictionaries, keys(), values() and items()

In [24]:
vinicius = {'Name': 'Vinícius','Age':23,'Sport':'Soccer'}
print(vinicius.keys(),'\n')
for v in vinicius.values():
    print(v)

print('\r')
print(vinicius.items(),'\n')

# Iterating over keys and values
for k,v in vinicius.items():
    print('key = {}, value = {}'.format(k,str(v)))

print('\r')
# Checking keys or values
print('Name' in vinicius.keys())
print(29 in vinicius.values())
print('Name' in vinicius)

dict_keys(['Name', 'Age', 'Sport'])

Vinícius
23
Soccer

dict_items([('Name', 'Vinícius'), ('Age', 23), ('Sport', 'Soccer')])

key = Name, value = Vinícius
key = Age, value = 23
key = Sport, value = Soccer

True
False
True

### Dict methods

In [25]:
# get()
vinicius = {'Name': 'Vinícius','Age':23,'Sport':'Soccer'}
print('vinicius has {} years old and his favorite sport is {}'.format(str(vinicius.get('Age',0)),str(vinicius.get('Sport',0))))

# setdefault()
cat = {'Name':'Tom','Color':'Black'}
dog = {'Name':'Rex','Color':'White'}

if 'Age' not in cat:
    cat['Age'] = 5
print(cat)

dog.setdefault('Age',7)
print(dog)

vinicius has 23 years old and his favorite sport is Soccer
{'Name': 'Tom', 'Color': 'Black', 'Age': 5}
{'Name': 'Rex', 'Color': 'White', 'Age': 7}
{' ': 13,
 ',': 1,
 '.': 1,
 'A': 1,
 'I': 1,
 'a': 4,
 'b': 1,
 'c': 3,
 'd': 3,
 'e': 5,
 'g': 2,
 'h': 3,
 'i': 6,
 'k': 2,
 'l': 3,
 'n': 4,
 'o': 2,
 'p': 1,
 'r': 5,
 's': 3,
 't': 6,
 'w': 2,
 'y': 1}

### Merge two dictionaries

In [136]:
x = {'a':1,'b':2}
y = {'b':3,'c':4}
z = {**x,**y}
print(z)

{'a': 1, 'b': 3, 'c': 4}

## Sets

### Set is an unordered collection without duplicate elements

In [148]:
s = {1,2,3}
f = set([1,2,3])

g = {} #this is a dictionary
#print(type(g))

s = {1,9,3,2,3,4,1,2,3,4,5,9,1,2}
print(s)

# sets has no index
#print(s[0])

{1, 2, 3, 4, 5, 9}

### add(), update()

In [149]:
s.add(7) #adds a single element
print(s)
s.update([6,12,13]) #adds multiple elements
print(s)

{1, 2, 3, 4, 5, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 9, 12, 13}

### remove(), discard()

In [150]:
# remove() will return a 'key error' if the value doesn't exist

s.remove(2)
print(s)
s.discard(6)
#s.remove(19)
print(s)

{1, 3, 4, 5, 6, 7, 9, 12, 13}
{1, 3, 4, 5, 7, 9, 12, 13}

### union()

In [154]:
# union() or | will create a new set with all elements from the provided sets
s1 = {1,2,3}
s2 = {1,9,10}
s3 = {4,6,8}

print(s1.union(s2))
print(s1)
print(s3 | s1)
print(s3)

{1, 2, 3, 9, 10}
{1, 2, 3}
{1, 2, 3, 4, 6, 8}
{8, 4, 6}

In [155]:
### intersection()

In [158]:
# intersection() or & will create a set with only the elements that are common to all provided sets
s1 = {1,2,3}
s2 = {3,4,5}
s3 = {3,5,6}

print(s1.intersection(s2,s3))
print(s2&s3)

{3}
{3, 5}

### difference(), symetric_difference()

In [159]:
# difference or - will return only the elements that are in one of the sets and not in the other
# s1 - s2  shows s1 elements that are not in s2.. but doesn't show s2 elements.
s1 = {1,2,3}
s2 = {2,3,4,5,6}
s3 = {1,3,5,7}

print('s1-s3: ',s1-s3)

# symetric_difference or ^ will return all elements that are not commom between them
# s1 ^ s2  shows s1 elements that are not in s2 and s2 elements that aren't in s1.
print('s1^s3: ',s1^s3)

s1-s3:  {2}
s1^s3:  {2, 5, 7}

## Itertools

### accumulate()

In [165]:
import operator
import itertools

# accumulate(iterable,function) returns the results of a function
data = [1,2,3,4,5]
result = itertools.accumulate(data,operator.mul)
for each in result:
    print(each)

1
2
6
24
120

### combinations()

In [167]:
shapes = ['circle','triangle','square']
result = itertools.combinations(shapes,2)
for each in result:
    print(each)

print('\r')
result = itertools.combinations_with_replacement(shapes,2) # allow repetitions like (circle,circle)
for each in result:
    print(each)

('circle', 'triangle')
('circle', 'square')
('triangle', 'square')

('circle', 'circle')
('circle', 'triangle')
('circle', 'square')
('triangle', 'triangle')
('triangle', 'square')
('square', 'square')

### count(start,step)

In [169]:
for i in itertools.count(1,4):
    print(i)
    if i > 20:
        break

1
5
9
13
17
21

### cycle()

In [172]:
# cycle() cycles through an iterator endlessly
print('\r')
colors = ['black','blue','yellow']
i = 0
for color in itertools.cycle(colors):
    print(color)
    i+=1
    if i > 7:
        break

black
blue
yellow
black
blue
yellow
black
blue

### chain()

In [176]:
# chain() take a series of iterables and return them as one long iterable
colors = ['red','blue','yellow','black']
shapes = ['circle','square','triangle','diamond']
ages = [12,23,45,67]

result = itertools.chain(colors,shapes,ages)
for each in result:
    print(each)

red
blue
yellow
black
circle
square
triangle
diamond
12
23
45
67

### compress()

In [177]:
# compress() filtes one iterable with another
colors = ['black','blue','yellow','red','white','green']
select = [True,False,True,True,False,False]
result = itertools.compress(colors,select)
for each in result:
    print(each)

black
yellow
red

### dropwhile()

In [179]:
# dropwhile() drops elements of an iterator as long the predicate is true
data = [1,2,3,4,5,6,1,2,1]
result = itertools.dropwhile(lambda x: x<3, data) #while x<3 the elements will be drop, then the dropwhile ends
for each in result:
    print(each)

3
4
5
6
1
2
1

### filterfalse()

In [180]:
# filterfalse() filters elements from iterable returning when the predicate is false
result = itertools.filterfalse(lambda x: x<3, data) #remove all elements that are true for the predicate
for each in result:
    print(each)

3
4
5
6

### groupby()

In [181]:
robots = [
    {'name':'blaster',
    'faction':'autobot'},
    {'name':'galbatron',
    'faction':'decepticon'},
    {'name':'jazz',
     'faction':'autobot'},
    {'name':'metroplex',
     'faction':'autobot'},
    {'name':'megatron',
     'faction':'decepticon'},
    {'name':'starscream',
     'faction':'decepticon'}]

for key, group in itertools.groupby(robots,key=lambda x: x['faction']):
    print(key)
    print(list(group))

autobot
[{'name': 'blaster', 'faction': 'autobot'}]
decepticon
[{'name': 'galbatron', 'faction': 'decepticon'}]
autobot
[{'name': 'jazz', 'faction': 'autobot'}, {'name': 'metroplex', 'faction': 'autobot'}]
decepticon
[{'name': 'megatron', 'faction': 'decepticon'}, {'name': 'starscream', 'faction': 'decepticon'}]

### islice()

In [183]:
# islice() allows to cut a piece of an iterable
colors = ['red','orange','yellow','green','blue','black']
few_colors = itertools.islice(colors,2)
for each in few_colors:
    print(each)

red
orange

### permutations()

In [185]:
data = ['a','b','c']
result = itertools.permutations(data)
result2 = itertools.permutations(data,2)
for each in result:
    print(each)

('a', 'b', 'c')
('a', 'c', 'b')
('b', 'a', 'c')
('b', 'c', 'a')
('c', 'a', 'b')
('c', 'b', 'a')

### product()

In [189]:
# product() creates a cartesian product from provided iterables
num_data = [1,2,3]
letter_data = ['a','b','c']
result = itertools.product(num_data,letter_data)
for each in result:
    print(each)

(1, 'a')
(1, 'b')
(1, 'c')
(2, 'a')
(2, 'b')
(2, 'c')
(3, 'a')
(3, 'b')
(3, 'c')

### repeat()

In [190]:
# repeat() repeat an object for argument times
print('\r')
for i in itertools.repeat("repeating",3):# repeats "repeating" for 3 times
    print(i)

repeating
repeating
repeating

### starmap()

In [192]:
# starmap() computes the function over the iterable using obtained arguments
data = [(2, 4), (3, 5), (9, 3)]
result = itertools.starmap(operator.mul,data)
for each in result:
    print(each)

8
15
27

### takewhile()

In [195]:
# takewhile() the oposite of dropwhile. takewhile keeps elements until condition is reached
print('\r')
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = itertools.takewhile(lambda x: x<6, data) 
for each in result:
    print(each)

1
2
3
4
5

### tee()

In [197]:
# tee() returns n independent iterators from a single iterable.
colors = ['blue','black','orange','red','yellow','green']
alpha_colors, beta_colors = itertools.tee(colors)
for each in beta_colors:
    print(each)

blue
black
orange
red
yellow
green

### zip_longest()

In [200]:
# zip_longest() aggregates elements from each iterables.
colors = ['red','blue','yellow','black','white']
numbers = [1,2,3,4,5,6,7,8,9,10]
for each in itertools.zip_longest(colors,numbers,fillvalue=None):
    print(each)

('red', 1)
('blue', 2)
('yellow', 3)
('black', 4)
('white', 5)
(None, 6)
(None, 7)
(None, 8)
(None, 9)
(None, 10)

#### ---------------------------------------------------------------------------------------------------------

## Comprehensions

In [203]:
# list
a = [1,3,5,7,9,11]
print([i-1 for i in a])
print('\r')

#set
b = {'abc','def','ghi'}
print({s.upper() for s in b})
print('\r')

#dict
c = {'name':'vinicius','age':'23','sport':'soccer'}
print({v:k for k,v in c.items()})

[0, 2, 4, 6, 8, 10]

{'DEF', 'ABC', 'GHI'}

{'vinicius': 'name', '23': 'age', 'soccer': 'sport'}

#### ---------------------------------------------------------------------------------------------------------

## Manipulating Strings

In [205]:
# Raw Strings -> ignores all escape characters and print backslash
print(r'Tom\'s cat is black')

# Multiline string with triple quotes
print('''
Hello Tom
I heard that your cat is black
It's true ?
''')

Tom\'s cat is black

Hello Tom
I heard that your cat is black
It's true ?

### Indexing and slicing strings

In [206]:
spam = 'Hello World!'
print(spam[0])
print(spam[0:5])
print(spam[:7])
print(spam[5:])
text = spam[::-1]
print(text)

H
Hello
Hello W
 World!
!dlroW olleH

### 'in' and 'not in'

In [207]:
# 'in' and 'not in' with strings and lists
print('vinicius' in 'vinicius rodrigues ferraz')
print('batman' not in 'vinicius ferraz')
print('\r')
print('vinicius' in ['alberto','bruno','guilherme','vinicius'])

True
True

True

### upper(), lower(), isupper() and islower

In [210]:
spam = 'hello world!'
spam = spam.upper()
print(spam)

spam = 'VINICIUS'
print(spam.lower())

spam = 'vinicius'
print(spam.islower())

print('\r')
print('abc12345'.islower())

HELLO WORLD!
vinicius
True

True

### isX methods

In [212]:
# isalpha() returns true if string is only letters - not blank
spam = 'vinicius'
print(spam.isalpha())

# isnum()   returns true if string is letters and numbers - not blank
spam = 'vinicius123'
print(spam.isalnum())

# isdecimal() returns true if string is only numbers - not blank
spam = '21341213'
print(spam.isdecimal())

# isspace() returns true if string is only spaces, tabs and newlines - not blank
spam = '  \n \r \t'
print(spam.isspace())

# istitle() returns true if string is only words that begin with an uppercase letter, folowed by only lowercase letters.
spam = 'Titulo Muito Doido'
print(spam.istitle())

True
True
True
True
True

### startswith() and endswith()

In [214]:
spam = 'vinicius ferraz'
print(spam.startswith('vinicius'))
print(spam.endswith('ferraz'))

True
True

### join() and split()

In [215]:
spam = '--'.join(['blue','black','red','green'])
print(spam)
print('\r')
spam = 'My name is Vinicius. I love soccer!'
print(spam.split())
print(spam.split('.'))

blue--black--red--green

['My', 'name', 'is', 'Vinicius.', 'I', 'love', 'soccer!']
['My name is Vinicius', ' I love soccer!']

### rjust(), ljust(), center()

In [216]:
spam = 'vinicius'
print(spam.rjust(20,'.'))
print(spam.ljust(20,'.'))
print(spam.center(30,'.'))

............vinicius
vinicius............
...........vinicius...........

### strip() rstrip() and lstrip()

In [223]:
spam = '           Hello World! Spam'
print(spam.rstrip('Spam'))
print(spam.lstrip(' '))

spam = 'SpamSpamBaconSpamEggsSpamSpamS'
spam = spam.strip('Spam') #removes argument from end/begin of string
print(spam)

spam = 'SpamSpamBaconSpamEggs'
spam = spam.strip('Spam') #removing only from begin/end too
print(spam)

           Hello World!
Hello World! Spam
BaconSpamEggs
BaconSpamEggs

### pyperclip

In [225]:
import pyperclip

pyperclip.copy('HELLO! ')
pyperclip.paste()

'HELLO! '

#### More

In [227]:
# %
name = 'nemo'
age = 5
print('o nome do peixe é %s' % name)
print('o peixe tem %x anos' % age)

o nome do peixe é nemo
o peixe tem 5 anos

In [229]:
# print(f'')
x = 11
print(f'{name} has {age+x} years')

nemo has 16 years

#### ---------------------------------------------------------------------------------------------------------

## RegEx

In [232]:
import re
phone = re.compile(r'\d-(\d\d\d\d)-(\d\d\d\d)')
num = phone.search('my number is 9-9831-6285 and it is awesome')
print('phone =  9+{}+{}'.format(num.group(1),num.group(2)))
print('phone = {}'.format(num.group()))
print(num.groups())
first, second = num.groups()
print(second+'-'+first)

phone =  9+9831+6285
phone = 9-9831-6285
('9831', '6285')
6285-9831

In [233]:
name = re.compile(r'Vini(cius)?')
r = name.search('Oi, eu sou Vini')
print(r.group())
r = name.search('Oi, eu sou Vinicius')
print(r.group())

name2 = re.compile(r'Vini(vini)*') # '*' = zero or more |vini)     '+' = one or more (vini)
r = name2.search('Vinivinivinivinivinivinivini')
print(r.group())

Vini
Vinicius
Vinivinivinivinivinivinivini

# To be continued...